<mat-toolbar color="primary">
  <span>Dynamic Form</span>
</mat-toolbar>

<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title> <p>User Input</p></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <textarea
            matInput
            [(ngModel)]="userInput"
            rows="10"
            placeholder="Insert Json object for form here..."
          ></textarea>

          <mat-hint align="end"
            >Please, insert json in correct format.</mat-hint
          >
        </mat-form-field>
        <mat-error *ngIf="jsonerrors !== undefined">
          <p class="mb-0">Hints:</p>
          <p>{{ jsonerrors }}</p>
        </mat-error>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          class="m-2"
          (click)="renderJson(dataSoure.User)"
        >
          Render From User Input
        </button>

        <button
          mat-raised-button
          color="primary"
          class="m-2"
          (click)="renderJson(dataSoure.Api)"
        >
          Render From REST Api
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title> <p>Form will appear here</p></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="formtemplates && formtemplates.length > 0">
          <form [formGroup]="dynamicForm">
            <div *ngFor="let template of formtemplates" class="form-row">
              <app-form-template
                [formTemplate]="template"
                [formGroup]="dynamicForm"
              ></app-form-template>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
