<div [formGroup]="formGroup" *ngIf="formTemplate && formGroup">
  <div [ngSwitch]="formTemplate.controlType">
    <!--- IF Control type is "input" -->
    <mat-form-field appearance="fill" *ngSwitchCase="'text'">
      <mat-label [attr.for]="formTemplate.label" *ngIf="formTemplate.label">{{
        formTemplate.label
      }}</mat-label>

      <input
        matInput
        [type]="formTemplate.input_type"
        [formControlName]="formTemplate.key"
        [id]="formTemplate.key"
        [name]="formTemplate.name"
        [placeholder]="formTemplate.value"
      />

      <mat-error *ngIf="!isValid">
        {{ formTemplate.label }} is required
      </mat-error>
    </mat-form-field>

    <!--- IF Control type is "datepicker" -->
    <mat-form-field
      color="accent"
      appearance="fill"
      *ngSwitchCase="'datepicker'"
    >
      <mat-label [attr.for]="formTemplate.label" *ngIf="formTemplate.label">{{
        formTemplate.label
      }}</mat-label>
      <input matInput [matDatepicker]="datePicker" />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>

    <!--- IF Control type is "textarea" -->
    <mat-form-field appearance="fill" *ngSwitchCase="'textarea'">
      <mat-label [attr.for]="formTemplate.label" *ngIf="formTemplate.label">{{
        formTemplate.label
      }}</mat-label>
      <textarea
        matInput
        [formControlName]="formTemplate.key"
        [id]="formTemplate.key"
        [name]="formTemplate.name"
        >{{ formTemplate.value }}</textarea
      >
      <mat-error *ngIf="!isValid">
        {{ formTemplate.label }} is required
      </mat-error>
    </mat-form-field>
    <!--- IF Control type is "select" -->
    <mat-form-field appearance="fill" *ngSwitchCase="'select'">
      <mat-label [attr.for]="formTemplate.label" *ngIf="formTemplate.label">{{
        formTemplate.label
      }}</mat-label>
      <mat-select
        matSelect
        [formControlName]="formTemplate.key"
        [id]="formTemplate.key"
        [required]="formTemplate.is_required"
      >
        <mat-option
          *ngFor="let option of formTemplate.drop_down_items"
          selected="option.key == formTemplate.value"
          [value]="option.key"
        >
          {{ option.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!isValid">
        {{ formTemplate.label }} is required
      </mat-error>
    </mat-form-field>

    <!--- IF Control type is "radio buttons" -->
    <div *ngSwitchCase="'radiobutton'">
      <mat-label
        class="d-block"
        [attr.for]="formTemplate.label"
        *ngIf="formTemplate.label"
        >{{ formTemplate.label }}
      </mat-label>
      <mat-radio-group
        [name]="formTemplate.name"
        [formControlName]="formTemplate.key"
      >
        <mat-radio-button
          class="d-block"
          *ngFor="let option of formTemplate.drop_down_items"
          selected="option.key == formTemplate.value"
          [value]="option.key"
        >
          {{ option.value }}
        </mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="!isValid">
        {{ formTemplate.label }} is required
      </mat-error>
    </div>

    <!--- IF Control type is "checkboxes" -->
    <div *ngSwitchCase="'checkboxes'">
      <mat-label
        class="d-block"
        [attr.for]="formTemplate.label"
        *ngIf="formTemplate.label"
        >{{ formTemplate.label }}
      </mat-label>
      <ul>
        <li *ngFor="let checkoption of formTemplate.drop_down_items">
          <mat-checkbox
            [checked]="checkoption.key == formTemplate.value"
            class="d-block"
            [name]="formTemplate.name"
            [value]="checkoption.key"
          >
            {{ checkoption.value }}
          </mat-checkbox>
        </li>
      </ul>
      <mat-error *ngIf="!isValid">
        {{ formTemplate.label }} is required
      </mat-error>
    </div>

    <!--- IF Control type is "button" -->
    <div *ngSwitchCase="'button'" class="d-block m-2">
      <button
        mat-raised-button
        color="primary"
        [type]="formTemplate.input_type"
        [id]="formTemplate.key"
        [name]="formTemplate.name"
      >
        {{ formTemplate.value }}
      </button>
    </div>
    <!--- IF Control type is "File" -->
    <div *ngSwitchCase="'file'" class="d-block m-2">
      <input
        [type]="formTemplate.input_type"
        [id]="formTemplate.key"
        [name]="formTemplate.name"
        [placeholder]="formTemplate.value"
      />
    </div>
  </div>
</div>
