/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}


.mat-card {
  background: transparent;
  color: #dddddd;
}

.mat-grid-tile .mat-figure {
  align-items: flex-start !important;
}

.mat-grid-tile {
  overflow: initial !important;
  margin-top: 2rem !important;
}

.mat-card {
  margin: 1rem;
  color: #666666 !important;

  width: 100%;
}

ul {
  list-style-type: none !important;
  margin-top: 4px;
}

.m-2 {
  margin: 0.5rem 0.75rem !important;
}

.d-block {
  display: block !important;
}

.mat-card-header-text {
  margin: 0px !important;
}

.full-width {
  width: 80%;
}

.full-height {
  height: 100%;
}

.mb-0 {
  margin-bottom: 0px !important;
}
